</main>
<div class="fcontainer">
    <p>Mario Lasić</p>
    <a href="https://github.com/mario-lasic"><img src="http://localhost:3000/images/github-mark.png" alt="GitHub logo" class="img"></a>
</div>
<p class="copyright">Copyright @ <%= new Date().getFullYear() %></p>
</body>
</html>